.ml {list-style-type: none; font-size: large; margin: 0; padding: 0; width: 15%; background-color: #BAB2B5; border-left: 1px solid black; border-right: 1px solid black; position: fixed; height: 100%; overflow: auto; top: 0; left: 0; font-family: Tahoma;} 
li a {display: block; color: #123C69; padding: 8px 16px; text-decoration: none;} 
li a.active {background-color: #AC3B61; color: black; font-weight: bold;}  
li a:hover:not(.active) {background-color: gray;}
li:last-child {border-bottom: none;}

header {text-align: center; font-size: 4vw; font-weight: bolder; background-color: #EEE2DC; color: #123C69; margin-bottom: 20px; margin-left: 25%; font-family: Tahoma;}

footer {font-size: large; position: fixed; left: 0; bottom: 0; width: 100%; padding-left: 5px; background-color: #AC3B61;}
a:hover {color: blueviolet;}
body {background-color: #EEE2DC; margin-bottom: 50px;}

.content {width: 80%; word-wrap: break-word; font-size: 17px; font-family: Tahoma; top: 63px; margin-left: 15%; padding-left: 25px;}

#dogFeed li {padding-top: 3px; padding-bottom: 3px;}
#breedTable td {padding-right: 15px; vertical-align: top;}
label {font-weight: bold;}

.insideContent {margin-bottom: 10px;}

.bold {font-weight: bold;}

/*home page stacked images*/
#doubleimg {vertical-align: top;}

/*date + time*/
#todaysDate {font-size: 0.75vw; color: black; text-align: right;}

  div.desc {
    padding: 15px;
    text-align: center;
    color:#123C69;
    font-size: large;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: 15%;
  }
  div.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    font-size: 17px; font-family: Tahoma;
  }